# allow systemui access to fingerprint
hal_client_domain(platform_app, hal_fingerprint)

# BP2A tokay image
set_prop(platform_app, vendor_sysuig_prop)
